{{extend 'layout.html'}}
      <div class="col-md-8">

        <div class="panel">
          <div class="panel-body">
            <!--/sugestões-->
            {{for l in pauta:}}
            <div class="row suggestion">
              <div class="division esportes"></div>
              <div class="col-md-2 col-sm-3 text-center">
                <div class="well votos-well">
                  <p>
                    <strong class="votos">{{=l.votos}}</strong>
                    <span>votos</span>
                  </p>
                </div>
                <p>
                  <a class="btn btn-lg btn-votar" href="{{=URL(c='default', f='votar', args=l.id)}}">
                    Votar <i class="icon-arrow-up"></i>
                  </a>
                </p>
              </div>
              <div class="col-md-10 col-sm-9 suggestion-description pull-right">
                <h3>{{=l.titulo}}</h3>
                <div class="row">
                  <div class="col-xs-9">
                    <p>
                      {{=l.conteudo}}
                    </p>
                     <p class="tags">
                      {{tags = l.tags.split(',')}}
                      {{for tag in tags:}}
                        <div class="label label-default">
                          <a href="{{=URL(c='default', f='index', vars={'lista':'tags', 'tag':tag})}}">
                            {{=tag}}
                          </a>
                        </div>
                      {{pass}}
                    </p>

                    <p class="pull-right">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true">Tweetar</a>
                    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <h3>Poste um comentário</h3>
            {{=form.custom.begin}}
              <label>Comentário</label><br>
              <textarea class="text form-control" cols="40" name="comentario" rows="5"></textarea>
              <input name="id_usuario" type="hidden" value="{{=auth.user.id}}" />
              <input name="nome_usuario" type="hidden" value="{{=auth.user.first_name}} {{=auth.user.last_name}}" />
              <input name="id_pauta" type="hidden" value="{{=l.id}}" />
              <input name="data_comentario" type="hidden" value="{{=request.now.year}}-{{=request.now.month}}-{{=request.now.day}}" />
              <br>
              <input class="btn btn-primary" type="submit" value="Comentar" />
            {{=form.custom.end}}
            <!--/sugestões-->
            {{pass}}
            <br>
            {{for c in comentario:}}
              Em {{=data_extenso(str(c.data_comentario))}} {{=c.nome_usuario}} disse:
              <br>
              {{=c.comentario}}
              <hr>
            {{pass}}

          </div>
        </div>
      </div><!--/col-12-->
