img.logo {
  margin-top: 0.5em;
  margin-right: 0.8em;
}

.navbar-form input, .form-inline input {
  width:auto;
}

.alert {
  margin-top: -2em;
  text-align: center;
}

body {
  padding-top:80px;
}

footer {
  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#000;
  color: #ededed;
}

.channels {
}

.channels .panel-heading {
  padding: 20px 0px;
  background: #0C87D7 none repeat scroll 0% 0%;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;

  display:flex;
  justify-content:center;
  align-items:center;
}

.channels .panel-body {
  padding: 20px;
}

.open-comments i {
  margin-right: 0.3em;
}

/* tags */
.tags {
  font-size: 120%;
}

.label.label-default {
  margin-right: 1em;

}

.label.label-default a {
  color: #eee;
}

.tecnologia {
  background-color: #724090;
}

.esportes {
  background-color: #b6cb3c;
}

.educacao {
  background-color: #e0a732;
}

.cultura {
  background-color: #d63e7f;
}

.cidadania {
  background-color: #26ae9d;
}

.panel.channels {

}

.filtering {
  padding-left: 1em;
}

.search {
}

.categories {
  margin-top: 0.5em;
}

.categories i {
  margin-right: 0.5em;
}

.categories .badge {
  background-color: #eee;
  color: #0C88D8;
  font-weight: normal;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border-radius: 0.2em;
}

.channels .panel-heading {
  background-color: #0C88D8;
}

.tv-brasil-badge {
  background-color: #769e27;
  display: block;
  margin-top: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  margin-bottom: 1em;
  font-size: 160%;
}

.radio-badge {
  background-color: #769e27;
  display: block;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  margin-bottom: 1em;
  font-size: 160%;
}

.btn-more {
  background-color: #724090;
  color: #fff;
}

#masthead {
  min-height:199px;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  min-height:127px;
}

.navbar {
  background: #000;
  font-color: #ccc;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.story-img {
  margin-top:25%;
  display:block;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.dropdown-menu {
  min-width: 250px;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}

.lead {
  font-size: 120%;
  color: #ccc;
}

.lead a {
  padding: 0.2em;
  margin: 0.2em;
}

.criar-nova {
  border-radius: 0.2em;
  background-color: green;
  color: #fff;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  font-size: 200%;
  margin-left: 1.5em;
  padding-right: 1em;
}

.criar-nova i {
  margin-right: 0.5em;
}

.criar-nova i {
  margin-right: 0.2em;
}

.suggestion {
  border-color: #000;
  box-sizing: border-box;
  border-left: 0.2em solid #eee;
  border-right: 0.2em solid #ddd;
  border-bottom: 0.3em solid #eee;
  border-top: 0.2em solid #eee;
}

.suggestion-description {
}

.division {
  margin-bottom: 0.5em;
  height: 0.5em;
}

.well.votos-well {
  border-radius: 0.2em;
  margin-top: 4em;
}

.btn-votar {
  background-color: #222;
  color: #fff;
  border-radius: 0.2em;
}

.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}

strong.votos{
  font-size: 150%;
}